@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans-Italic.woff2') format("woff2"), url('../fonts/OpenSans/OpenSans-Italic.woff') format("woff")
  font-weight: normal
  font-style: italic
  font-display: swap

@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans-SemiBold.woff2') format("woff2"), url('../fonts/OpenSans/OpenSans-SemiBold.woff') format("woff")
  font-weight: 600
  font-style: normal
  font-display: swap

@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans-Regular.woff2') format("woff2"), url('../fonts/OpenSans/OpenSans-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans-Light.woff2') format("woff2"), url('../fonts/OpenSans/OpenSans-Light.woff') format("woff")
  font-weight: 300
  font-style: normal
  font-display: swap

@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans-Bold.woff2') format("woff2"), url('../fonts/OpenSans/OpenSans-Bold.woff') format("woff")
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon/icomoon.eot?o5wjt0')
  src: url('../fonts/icomoon/icomoon.eot?o5wjt0#iefix') format("embedded-opentype"), url('../fonts/icomoon/icomoon.ttf?o5wjt0') format("truetype"), url('../fonts/icomoon/icomoon.woff?o5wjt0') format("woff"), url('../fonts/icomoon/icomoon.svg?o5wjt0#icomoon') format("svg")
  font-weight: normal
  font-style: normal
  font-display: block

[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon'
  speak: never
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1


.icon-burger:before
  content: "\e900"
  color: #ff612b

.icon-cart:before
  content: "\e901"
  color: #ff612b

.icon-clock:before
  content: "\e902"
  color: #ff612b

.icon-glass:before
  content: "\e903"
  color: #fff

.icon-message:before
  content: "\e904"
  color: #ff612b

.icon-phone:before
  content: "\e906"
  color: #ff612b

.icon-placeholder:before
  content: "\e907"
  color: #ff612b

.icon-star-grey:before
  content: "\e909"
  color: #bebbb9

.icon-star-orange:before
  content: "\e90a"
  color: #ff612b

.icon-viber:before
  content: "\e90b"
  color: #7d3daf

.icon-whatsapp:before
  content: "\e90c"
  color: #57f676