@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------



.header
	
	&-top
		padding: 30px 0
		background: #fff
		box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.09)

		&__wrap
			display: flex
			align-items: center
			justify-content: space-between

		&__right
			display: flex
			flex-wrap: wrap

		&__item
			margin-left: 50px
			display: flex
			align-items: center

			&--text
				padding-left: 20px

			.icon
				margin-left: 10px
				font-size: 25px

			span, a
				display: block
				line-height: 19px
				font-weight: 600

	&-cart
		position: relative
		display: inline-block
		height: 100%
		padding: 11px 75px 11px 30px
		border: 1px solid #BEBBB9
		border-radius: 27.5px

		&:before
			content: '\e901'
			position: absolute
			right: 27px
			top: 14px
			font-size: 25px
			font-family: icomoon
			color: $main


		span
			display: block
			font-size: 12px
			line-height: 16px

.nav
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	align-items: center
	padding: 30px 0


.main-menu
	list-style: none

	li
		display: inline-block
		margin-right: 45px

		&:last-child
			margin-right: 0

		>a
			display: block
			padding: 17px 0
			font-size: 16px
			font-weight: 600
			line-height: 22px

		&.dropdown
			position: relative

			>a
				position: relative
				padding-right: 18px

				&:before
					content: ''
					position: absolute
					right: 0
					top: 24px
					width: 6px
					height: 6px
					border-right: 1px solid
					border-bottom: 1px solid
					transform: rotate(45deg)

			ul
				display: none
				list-style: none
				position: absolute
				left: 0
				top: calc(100%)
				min-width: 220px
				padding: 20px 0
				background: #fff
				box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12)
				border-radius: 0 6px 6px 6px
				z-index: 10

				>li
					position: relative
					
					&:last-child
						margin-bottom: 0

					>a
						display: flex
						padding: 5px 20px
						font-size: 14px
						font-weight: normal
						line-height: 18px

.banner
	position: relative

	>img
		display: block
		margin: 0 auto
		height: 510px
		object-fit: cover

	&-overlay
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		display: flex
		align-items: center
		justify-content: center
		text-align: center

		.h1
			margin-bottom: 20px
			color: #fff

	&-menu
		margin-bottom: 70px
		list-style: none

		li
			display: inline-block
			margin: 0 30px

			a
				font-size: 18px
				line-height: 21px
				color: #fff

.btn
	display: inline-block
	padding: 14px 40px
	background: $main
	font-size: 18px
	line-height: 25px
	font-weight: 600
	color: #fff
	text-align: center
	border: 1px solid transparent
	border-radius: 2px

	&:hover, &:focus
		border: 1px solid $main
		color: $main
		background: #fff
		opacity: 1

	&-transparent
		padding: 19px 35px
		border: 1px solid #322C24
		border-radius: 2px
		line-height: 18px
		background-color: transparent
		color: #322C24
		font-weight: normal

	&-main

		&__transparent
			padding: 19px 35px
			font-size: 14px
			line-height: 18px
			background-color: transparent
			border: 1px solid $main
			color: $main
			border-radius: 2px



.section
	padding: 60px 0

	&+.section
		padding-top: 0

	.h2
		text-align: center

	&-inner
		padding: 60px 0 0

		.h2
			text-align: left

		.h1, h1
			margin-bottom: 60px
			line-height: 60px

	&-product
		.h2
			margin-bottom: 10px

		&__all
			display: inline-block
			color: #6A635A
			text-decoration: underline

	&-seo

		.h2
			margin-bottom: 40px

		p
			margin-bottom: 17px

	&-reviews

		.btn
			margin-bottom: 60px

.h1, h1
	&+.section
		padding-top: 0


.manufacturing

	&-item
		display: block
		overflow: hidden

		img
			display: block
			transition: all .6s

		>span
			position: relative
			display: flex
			align-items: center
			justify-content: center
			height: 100px
			background: #fff
			font-size: 20px
			line-height: 24px
			font-weight: 600
			transition: all .3s
			z-index: 1


		&:hover
			opacity: 1

			img
				transform: scale(1.1)

			>span
				color: $main


.slider

	&-portfolio
		max-width: 948px
		margin: 0 auto

		.slick-list
			padding: 30px 0 !important

		&__item
			margin-left: 30px
			margin-right: 30px
			transition: all .3s

			&.slick-center
				transform: scale(1.35)

	.slick-arrow
		width: 34px
		height: 34px
		background-color: rgba(244,244,244,.5)
		border-radius: 50%

		&:before
			content: ''

	.slick-prev
		background-image: url(../img/prev.svg)
		background-repeat: no-repeat
		background-position: center

	.slick-next
		background-image: url(../img/next.svg)
		background-repeat: no-repeat
		background-position: center


.services

	&-item
		display: flex
		flex-wrap: wrap
		margin-bottom: 15px

		&__text
			width: 55%
			padding: 50px 50px 30px 45px
			background: #fff

			&--mobile
				display: none

			.h3
				margin-bottom: 20px
				transition: all .3s

			p
				margin-bottom: 18px

				&:last-child
					margin-bottom: 0

		&:hover
			.h3
				color: $main

	&-slider
		width: 45%

		.slick-arrow
			z-index: 10

		.slick-prev
			left: 20px

		.slick-next
			right: 20px




.order
	padding: 60px 0
	height: 273px
	background: url(../img/order-bg.jpg) no-repeat center
	background-size: cover

	&-form
		display: flex
		align-items: center
		justify-content: space-between



	.h2
		margin-bottom: 60px
		color: #fff
		text-align: center

	.form-field
		width: 100%
		max-width: 250px






.form

	&-field
		display: inline-block
		padding: 0 20px
		height: 55px
		line-height: 55px
		background: #fff
		border-radius: 2px
		border: 0
		outline: 0
		color: #000


	textarea
		width: 100%
		height: 80px
		line-height: normal
		padding: 20px


.check-item
	display: inline-block
	margin-bottom: 10px

	input[type="checkbox"]
		display: none

		&+label
			position: relative
			display: block
			padding: 0  0 0 26px
			cursor: pointer
			font-size: 11px
			line-height: 120%
			color: #fff

			&::before
				content: ''
				position: absolute
				left: 0
				top: 6px
				width: 16px
				height: 16px
				display: flex
				align-items: center
				justify-content: center
				border: 1px solid $main


				


		&:checked
			&+label
				&::before
					background-image: url(../img/check-ic.svg)
					background-repeat: no-repeat
					background-position: center






.footer
	background: rgba(190,187,185,.3)

	&-links
		padding: 60px 0
		display: flex
		justify-content: space-between

		&__item

			.h5
				margin-bottom: 20px

			ul
				list-style: none

				li
					margin-bottom: 15px

					&:last-child
						margin-bottom: 0

					a
						line-height: 19px

	&-bottom
		padding: 23px
		background: #fff

		&__wrap
			display: flex
			justify-content: space-between

			>a
				text-decoration: underline
				font-size: 11px

		&__dev
			text-decoration: underline
			font-size: 11px


.breadcrumbs
	padding: 7px 0
	background: #E4E3E2

	&-links
		list-style: none

		li
			display: inline-block
			margin-right: -0.03em
			font-size: 14px
			line-height: 17px


			+ li::before
				content: "\/"
				padding: 0 12px 0 10px
				font-size: 14px
				line-height: 17px
				color: #828282

			a
				position: relative
				font-weight: 300
				color: #828282



.tags

	&-show
		border-radius: 100px
		font-size: 16px
		font-weight: normal
		margin-bottom: 20px

		&:hover, &:focus
			background-color: transparent
			
		&.active
			color: #322C24
			border-color: #322C24


	&-list
		list-style: none

		li
			display: inline-block
			margin-right: 20px
			margin-bottom: 20px

			&:last-child
				margin-right: 0

			a
				display: block
				padding: 15px 40px
				font-size: 16px
				line-height: 22px
				border: 1px solid #BEBBB9
				border-radius: 100px

	.btn-main__transparent
		display: none


.product
	margin-top: 50px

	&.row
		display: flex
		flex-wrap: wrap

	&-item
		margin-bottom: 15px
		background: #fff
		border-radius: 2px

		&__img
			margin-bottom: 30px

			a
				display: block

			img
				display: block

		&__text
			padding: 0 35px 50px

			.h3
				margin-bottom: 0
				min-height: 84px
				text-align: center

		&__price
			display: flex
			flex-wrap: wrap
			border: 1px solid $main
			border-radius: 2px

			strong
				display: flex
				align-items: center
				justify-content: center
				width: calc(100% - 75px)
				text-align: center
				font-size: 18px

			>a
				display: flex
				align-items: center
				justify-content: center
				height: 56px
				width: 75px
				background: $main

				.icon
					font-size: 25px

					&:before
						color: #fff

		&:hover

			.product-item__text

				.h3

					a
						color: $main

	&-cart

		&+.section-reviews
			padding-top: 0

			.h2
				margin-bottom: 20px

			.btn
				margin-bottom: 40px

		&__wrap

			.h2
				position: relative
				top: -5px
				margin-bottom: 15px

		&__btn
			display: flex
			flex-wrap: wrap
			margin-bottom: 50px

			.product-item__price
				max-width: 270px
				width: 100%
				margin-right: 15px

		&__list
			list-style: none

			li
				display: flex
				flex-wrap: wrap
				margin-bottom: 15px
				line-height: 17px

				span
					width: 100px
					padding-right: 15px

				strong, a
					font-weight: 600

				a
					text-decoration: underline
	&-description

		.h2
			margin-bottom: 40px

		p
			margin-bottom: 15px

		ul
			padding-left: 30px



	&-rating
		display: flex
		align-items: center
		margin-bottom: 15px

		&__block
			width: 65px
			height: 12px
			background: url('../img/star-grey.svg') repeat-x 0 0
			background-size: contain

		&__inner
			background: url('../img/star-gold.svg') repeat-x 0 0
			background-size: contain
			font-size: 1px
			height: 12px
			text-indent: -9999px

.slick-arrow
	z-index: 10

.cart

	&-slider
		margin-bottom: 60px

		.slick-prev
			left: 20px

		.slick-next
			right: 20px


.reviews

	&-item
		margin-bottom: 10px

		&__top
			position: relative
			display: flex
			justify-content: space-between
			align-items: center
			padding-left: 85px
			min-height: 82px


		&__right
			display: flex
			flex-wrap: wrap
			align-items: center

			.product-rating
				margin: 0 0 0 30px

		&__name
			font-size: 16px
			font-weight: 600

		&__letter
			position: absolute
			left: 0
			top: 11px
			width: 60px
			height: 60px
			display: flex
			align-items: center
			justify-content: center
			border-radius: 50%
			font-size: 20px
			font-weight: bold
			color: #fff

		&__date
			color: #828282

		&__body
			padding-left: 85px
			padding-bottom: 15px

			p
				margin-bottom: 10px
				color: #828282

			&--more
				display: none
				padding-top: 10px
				color: #6A635A
				text-decoration: underline

				&:hover, &:focus
					opacity: 1
					text-decoration: underline


	&-form
		margin-bottom: 60px
		max-width: 540px

		&+.reviews
			padding-bottom: 60px

		&__top
			display: flex
			flex-wrap: wrap
			justify-content: space-between

			.form-field
				width: 46%
				margin-bottom: 40px

		textarea
			margin-bottom: 40px

		.btn
			font-size: 14px
			line-height: 18px
			font-weight: normal




.bg
	&-blue
		background: #C3E7F7

	&-yellow
		background: #F4DDB9

	&-violet
		background: #CAABE3



.stones

	&-item
		display: flex
		flex-direction: column
		margin-bottom: 15px
		border-radius: 2px

		&__text
			height: 84px
			display: flex
			align-items: center
			justify-content: center
			background: #fff
			font-weight: 600
			font-size: 20px
			transition: all .3s

		&:hover
			box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.09)
			border-radius: 2px
			opacity: 1

			.stones-item__text
				color: $main


.contacts

	&-item
		display: flex
		align-items: flex-start
		margin-bottom: 20px

		&__header
			min-width: 140px
			font-size: 18px

		&__val
			display: block

			&--item
				margin-bottom: 15px

				a
					padding-left: 20px


			strong
				font-weight: 600
				font-size: 18px

			a
				font-size: 14px
				text-decoration: underline
				color: #6A635A

				strong
					font-weight: 600
					font-size: 18px
					color: #322C24

	&-map
		padding-top: 40px

		.h2
			margin-bottom: 60px

		&__block
			margin-bottom: 60px


.mobile-menu
	&__btn
		
		span
			display: inline-block
			padding-left: 10px
			font-weight: 600
			vertical-align: middle

		.icon
			display: inline-block
			vertical-align: middle
			font-size: 26px



.star
	display: flex
	align-items: center
	margin-bottom: 40px

	&-rating
		font-size: 0

		&__wrap
			font-size: 14px

			&:after
				content: ""
				display: table
				clear: both

	>span
		padding-right: 10px
		font-size: 20px

	&-rating
		&__ico
			float: right
			padding-left: 5px
			cursor: pointer
			color: $main

			&:last-child
				padding-left: 0

		&__input
			display: none

.star-rating__ico:hover
	&:before, ~ .star-rating__ico:before
	content: "\f005"

.star-rating__input:checked ~ .star-rating__ico:before
	content: "\f005"





















@media only screen and (max-width: 1199px)
	.main-menu li
		margin-right: 20px

	.order
		height: auto
		padding: 40px 0

		.h2
			margin-bottom: 40px

		&-form
			flex-direction: column
			max-width: 295px
			margin: 0 auto

			.agree
				width: 100%
				margin-bottom: 30px

			.btn
				width: 100%

		.form-field
			max-width: 295px
			margin-bottom: 30px

	.product-item__price
		margin: 0 0 15px

		



@media only screen and (max-width: 991px)
	.header-top__item
		margin-left: 20px

	.nav
		padding: 12px 0

	.services

		&-slider
			width: 100%
			max-width: 518px
			margin: 0 auto


		&-item
			background: #fff

			&__text
				width: 100%

	.mobile-menu
		.icon
			padding-right: 10px
			font-size: 16px

	.cart-slider
		max-width: 560px

	.product-item__price
		margin-bottom: 0

	




@media only screen and (max-width: 768px)
	h1, .h1
		font-size: 32px
		line-height: 36px

	h2,.h2
		margin-bottom: 40px
		font-size: 28px
		line-height: 33px



	.btn
		padding: 15px 40px

	.banner
		>img
			height: 450px

		&-menu
			margin-bottom: 50px

			li
				width: 47%
				margin: 0 0 10px

	.header-top
		padding: 20px 0

		&__item
			margin-left: 0
			flex-direction: row-reverse
			


	.logo
		max-width: 113px

	.section
		padding: 50px 0

		&-inner
			h1, .h1
				margin-bottom: 50px
				line-height: 36px

		&-seo
			padding-bottom: 0

			.row
				display: flex
				flex-direction: column-reverse

			img
				display: block
				margin: 0 auto 30px

		&-product



			&+.tags
				.tags-list
					display: block

		.container
			.section:last-child
				padding-bottom: 0


	.manufacturing-item
		margin-bottom: 20px

		>span
			height: 84px

	.slider-portfolio__item
		margin: 0

		&.slick-center
			transform: none

	.slick-next
		right: 10px
		z-index: 10

	.slick-prev
		left: 10px
		z-index: 10

	.slider-portfolio .slick-list
		padding: 0 !important

	.services-item__text
		padding: 30px

		.h3
			margin-bottom: 15px

		p
			display: none

		&--mobile
			display: inline-block
			text-decoration: underline
			color: #6A635A

			&:hover, &:focus
				text-decoration: underline

	.footer-bottom
		background: transparent

		&__dev
			margin-bottom: 15px

		&__wrap
			flex-direction: column
			align-items: center

	.tags
		&-show.btn-main__transparent
			display: inline-block

			&.active
				margin-bottom: 15px

		&-list
			display: none

			li

				a
					padding: 12px 30px
					font-size: 14px


	.product
		&-item
			&__text
				padding: 0 20px 30px
			&__price
				margin-bottom: 15px


		&-cart

			&__btn
				display: block

		&-description
			padding-top: 40px

			.h2
				margin-bottom: 20px
	.slider-portfolio
		max-width: 370px
		margin: 0 auto

	.services-slider 
		.slick-prev
			left: 10px
		.slick-next
			right: 10px


	

	.reviews
		&-item
			&__letter
				width: 40px
				height: 40px
				font-size: 14px

			&__top
				position: relative
				padding-left: 60px
				padding-top: 10px
				padding-bottom: 30px
				min-height: auto

			&__body
				padding-left: 0
				height: 75px
				overflow: hidden

				&.active
					height: auto

				&--more
					display: inline-block


		.product-rating
			position: absolute
			bottom: 10px
			left: 60px
			margin: 0

	
	.cart-slider
		margin-bottom: 30px


	.reviews-form+.reviews
		padding-bottom: 0

	.contacts
		&-item
			&__header
				min-width: 130px
				font-size: 14px

			&__val
				
				&--item
					margin-bottom: 10px

				strong
					font-size: 14px

				a
					font-size: 14px

					strong
						font-size: 14px

		&-map
			&__block
				margin-bottom: 0

			.h2
				margin-bottom: 50px


	.footer
		&-links
			display: block
			padding: 30px 0 0

			&__item
				ul
					display: none
					padding: 0px 0 20px

				h5, .h5
					cursor: pointer
					position: relative

					&::before
						content: ''
						position: absolute
						right: 0
						top: 3px
						width: 10px
						height: 10px
						border-right: 2px solid
						border-bottom: 2px solid
						transform: rotate(45deg)
						color: #0E1931
						font-family: 'icomoon'

					&.active
						&::before
							transform: rotate(225deg)
							top: 9px

		&-bottom
			padding: 15px 0






















@media only screen and (max-width: 550px)
	.order
		background: url(../img/order-bg-mobile.jpg)
		background-size: cover

	.product-cart__btn .product-item__price
		max-width: none

	.reviews-form__top .form-field
		width: 100%
		margin-bottom: 20px

	.form 
		textarea
			height: 110px

		.btn
			width: 100%

	

	.manufacturing

		[class^="col"]
			width: 100%

	.stones
		[class^="col"]
				width: 100%


	.reviews-form 
		textarea
			margin-bottom: 20px







	




@media only screen and (max-width: 360px)
	.logo
		max-width: 100px

	.header-top__item
		padding-left: 10px

		&--text
			padding-left: 10px

		a
			font-size: 13px

		.icon
			font-size: 20px
			margin-left: 8px

	.btn
		font-size: 16px
		padding-left: 15px
		padding-right: 15px
		width: 100%

	